@model MvcCv.Models.Entity.TblHobilerim

@{
    ViewBag.Title = "HobiEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2 style="text-align: center; font-weight: bold; color: #343a40;">Yeni Aktivite Bilgisi Ekleme Paneli</h2>
<br />
<a href="/Hobi/Index/" class="btn btn-primary" style="float: right;">Geri Dön</a>

<br />
<form method="post" class="form-group">

    <div class="form-outline mb-4">
        @Html.Label("Aktivite")
        @Html.TextBoxFor(model => model.Aciklama1, new { @class = "form-control", placeholder = "Lütfen aktivite giriniz" })
        @Html.ValidationMessageFor(model => model.Aciklama1, "", new { @style = "color: red" })
    </div>

    <div class="form-outline mb-4">
        @Html.Label("Açıklama")
        @Html.TextAreaFor(model => model.Aciklama2, new { @class = "form-control", placeholder = "Lütfen aktivite açıklaması giriniz" })
        @Html.ValidationMessageFor(model => model.Aciklama2, "", new { @style = "color: red" })
    </div>

    <button data-mdb-ripple-init class="btn btn-success btn-block mb-4">Yeni Aktivite Bilgisini Kaydet</button>

</form>

