@model MvcCv.Models.Entity.TblSosyalMedya

@{
    ViewBag.Title = "SosyalMedyaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2 style="text-align: center; font-weight: bold; color: #343a40;">Yeni Sosyal Medya Bilgisi Ekleme Paneli</h2>
<br />
<a href="/SosyalMedya/Index/" class="btn btn-primary" style="float: right;">Geri Dön</a>
<br />


<form method="post" class="form-group">

    <div class="form-outline mb-4">
        @Html.Label("Sosyal Medya Linki")
        @Html.TextBoxFor(model => model.SosyalMedyaLink, new { @class = "form-control", placeholder = "Lütfen Sosyal Medya Linki giriniz" })
        @Html.ValidationMessageFor(model => model.SosyalMedyaLink, "", new { @style = "color: red" })
    </div>

    <div class="form-outline mb-4">
        @Html.Label("Icon")
        @Html.TextBoxFor(model => model.Icon, new { @class = "form-control", placeholder = "Lütfen icon adı giriniz" })
        @Html.ValidationMessageFor(model => model.Icon, "", new { @style = "color: red" })
    </div>

    <button data-mdb-ripple-init class="btn btn-success btn-block mb-4">Yeni Ssoyal Medya Bilgisini Kaydet</button>

</form>
