@model MvcCv.Models.Entity.TblSertifikalarim

@{
    ViewBag.Title = "SertifikaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2 style="text-align: center; font-weight: bold; color: #343a40;">Sertifika Güncelleme Paneli</h2>
<br />
<a href="@Url.Action("Index", "Sertifika")" class="btn btn-primary" style="float: right;">Geri Dön</a>

<br />
<form method="post">

    <div class="form-outline mb-4">
        @Html.Label("Sertifika Adı")
        @Html.TextBoxFor(model => model.Aciklama, new { @class = "form-control", placeholder = "Lütfen Sertifika Adı giriniz" })
        @Html.ValidationMessageFor(model => model.Aciklama, "", new { @style = "color: red" })
    </div>

    <div class="form-outline mb-4">
        @Html.Label("Kurum Adı")
        @Html.TextBoxFor(model => model.KursAd, new { @class = "form-control", placeholder = "Lütfen kurum bilgisini giriniz" })
        @Html.ValidationMessageFor(model => model.KursAd, "", new { @style = "color: red" })
    </div>

    <div class="form-outline mb-4">
        @Html.Label("Teknolojiler | Kurs Açıklaması")
        @Html.TextBoxFor(model => model.Teknolojiler, new { @class = "form-control", placeholder = "Lütfen konum bilgisini giriniz" })
        @Html.ValidationMessageFor(model => model.Teknolojiler, "", new { @style = "color: red" })
    </div>

    <div class="form-outline mb-4">
        @Html.Label("Tarih")
        @Html.TextBoxFor(model => model.Tarih, new { @class = "form-control", placeholder = "Lütfen sertifikayı aldığınız tarihi giriniz" })
        @Html.ValidationMessageFor(model => model.Tarih, "", new { @style = "color: red" })
    </div>

    <div class="form-outline mb-4">
        @Html.Label("Sertifika URL")
        @Html.TextBoxFor(model => model.SertifikaUrl, new { @class = "form-control", placeholder = "Lütfen Sertifika linkini giriniz" })
        @Html.ValidationMessageFor(model => model.SertifikaUrl, "", new { @style = "color: red" })
    </div>


    <!-- Submit button -->
    <button class="btn btn-success btn-block mb-4">Değişiklikleri Kaydet</button>
</form>


